h1 { color: #FF9933; }
p { color: blue; }


.table{color:red;}
#kihon{"color: red;"}

.gradient {
background: linear-gradient(to  bottom , #FF88FF ,#FF8C00 );
color: white;
}
.title {
border:double 1px black;
}
